<!-- Left Navbar -->
<div class="r-navbar" id="nav-bar">
  <nav class="r-nav">
    <div>
      <a href="#" class="nav_logo">
        <i class="bx bx-layer nav_logo-icon"></i>
        <h5 class="nav_logo-name m-0">Topics</h5>
      </a>
      <div class="nav_list">
        <a href="#" class="nav_link active">
          <i class="bx bx-grid-alt nav_icon"></i>
          <span class="nav_name">First Topic</span>
        </a>
        <a href="#" class="nav_link">
          <i class="bx bx-user nav_icon"></i>
          <span class="nav_name">Second Topic</span>
        </a>
        <a href="#" class="nav_link">
          <i class="bx bx-message-square-detail nav_icon"></i>
          <span class="nav_name">Third Topic</span>
        </a>
        <a href="#" class="nav_link">
          <i class="bx bx-bookmark nav_icon"></i>
          <span class="nav_name">Fourth Topic</span>
        </a>
        <a href="#" class="nav_link">
          <i class="bx bx-folder nav_icon"></i>
          <span class="nav_name">Fifth Topic</span>
        </a>
        <a href="#" class="nav_link">
          <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
          <span class="nav_name">Sixth Topic</span>
        </a>
      </div>
    </div>
    <!-- <a href="#" class="nav_link"> <i class="bx bx-log-out nav_icon"></i> <span class="nav_name">بیلاخ</span> </a> -->
  </nav>
</div>
<!-- End Left Navbar -->
